.rightPanel {
  max-width: 400px;
  margin: auto;
  border: 1px solid #d9d2d2;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px 30px;
  height: 480px;
}

.errorPosition {
  position: absolute;
}

.fa {
  float: right;
  height: 27px;
  width: 25px;
  position: relative;
  bottom: 27px;
  left: -1px;
  font-size: 18px;
  color: #bbafaf;
}

.fa-eye-slash {
  left: -2px;
}

@media only screen and (max-width: 768px) {
  .rightPanel {
    width: 100%;
    border: none;
  }
}